
parrafo1{
  background-color: #66CC00; color:#333333; font-size: 18px;  font-family: verdana, Arial;
}

p{
 color:black; font-size: 18px;  font-family: verdana, Arial;
}
parrafo3{
  background-color:FF0000;
  color:white;
  font-family: verdana, Arial;
  font-size: 18px;
}
